@media (min-width: 767px) {
	.navbar { min-height: 100px; }
	.navbar-brand {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		padding: 0;
	}
	.contact-num {  
		position: absolute;
		bottom: 10px;
		left: 25px;
	}
	.navbar-right {
		position: fixed;
		top: 45px;
		right: 25px;
	}
	
}
@media (max-width: 767px) {
	.navbar { min-height: 140px; }
	.contact-num {  
		position: absolute;
		bottom: 5px;
	}
	.navbar-brand {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		padding: 0;
	}
	.navbar-toggle { 
		position: absolute;
		bottom: 5px;
		right: 5px;
	}
	.navbar-collapse.collapse.in {
		bottom: -93px;
		display: table;
		position: absolute;
		width: 100%;
	}
}