body {
	margin: 0;
	padding: 0;
    overflow-y: scroll !important;
}
.text-decnone, .text-decnone:hover, .text-decnone:focus { text-decoration: none; }
.list-none { list-style: none; } 
div, p, span { word-spacing: .5; letter-spacing: .5; }

.color-grey { color: #7B6162; }
.color-fff { color: #fff !important; }
.color-444 { color: #444; }
.color-000 { color: #000; }
.color-theme { color: #D08D15; }

.f-size12 { font-size: 12px; }
.f-size14 { font-size: 14px; }
.f-size16 { font-size: 16px; }
.f-size18 { font-size: 18px; }

.f-bold { font-weight: bold; }

.d-table {display: table; }
.d-tbcell {display: table-cell; }
.v-middle { vertical-align: middle; }

.p-all0 { padding: 0 !important; }
.nopadding {
	padding: 0;
	margin: 0;
}
.m-bottom10 { margin-bottom: 15px; }
.p-right10 { padding-right: 10px; }
.m-top25 { margin-top: 25px; }
:focus { outline: 0 !important; }

/******** logo position ******/
.logo-main { min-height: 100px; }
.navbar-default {
	background: #440001; 
}
.navbar {
	margin-bottom: 0px;
    border: 0;
}
.logo-main a img{
	text-align: center;
	margin: auto;
	display: table;
}
.logo-main .navbar-default .navbar-nav>li>a { color: #fff; }
/******** logo position ******/

/******** order item dispaly *******/
.order-itemdispaly {
	background: url('../images/order-image.jpg') 10% no-repeat;
	position: relative;
	min-height: 460px;
	background-size: cover;
}
.order-itemdispalyinner {
	position: relative;
}
.enjoy-food { 
	position: absolute;
	right: 0;
	top: 100px;
}
.book-monthly {
	position: absolute;
	left: 0;
	top: 250px;
	background: red;
	padding: 10px;
}
.order-meals {
    padding: 18px;
    text-align: center;
	background-color: rgba(153, 145, 145, 0.94);
    background: -webkit-linear-gradient(top, rgba(128, 128, 128, 0.57) 0%, rgba(153, 145, 145, 0.94) 100%);
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.57) 0%, rgba(153, 145, 145, 0.94) 100%);
    border: solid 1px #c3c3c3;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
#links {
	display: table;
    padding: 5px;
    text-align: center;
    background-color: #FDDEA7;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
.item-blocks {
	position: absolute;
	top: 300px;
}
.flip-images {
	float: left;
	margin: 5px;
}
#links a.tog img{ opacity: .6; }
#links a.active img{ 	opacity: 1; }
#panel {
    margin: 40px 0;
}
.order-title {
	width: 110px;
}
.mealtime-btn {
	border: 1px solid #ccc;
	height: 40px;
	width: 140px;
	padding: 0;
	background: #fff;
	color: #000;
	line-height: 36px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-right: 10px;
}
.mealtime-btn img { padding: 4px; }
.order-meals .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.order-meals .btn-group>.btn:last-child:not(:first-child), .order-meals .btn-group>.dropdown-toggle:not(:first-child) {	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
}
body #ui-datepicker-div { z-index: 999999 !important; }
#close {
	position: absolute;
    left: -5px;
    margin-top: -16px;
    border: 1px solid red;
    background: red;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    z-index: 1;	
}
.order-itemsdetails {
	border: 1px solid #ccc;
	border-radius: 15px;
	margin-top: -200px;
    width: 100%;
}
.cart-icon {
	display: block;
    text-align: center;
    background-color: red;
    padding: 5px;
    border-top-left-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-top-right-radius: 15px;
}
.width-meal { width: 100px; }
.order-lists { 
	background-color: #ccc;
	padding: 25px 10px 10px 10px;
	position: relative;	
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
.meal-title {
	position: absolute;
	top: 0;
	left: 0;
	background-color: red;
	padding: 3px 5px;
	color: #fff;
}
.order-itemsdetails { background: #fff; }
.order-shows {
	 height: 350px;
	 padding: 10px 32px;
}
.proceed-tocart button, .proceed-tocart button:hover, .proceed-tocart button:focus {
	display: block;
	background-color: rgba(5, 115, 16, 1);
    background: -webkit-linear-gradient(top, rgba(5, 115, 16, 0.78) 0%, rgba(5, 115, 16, 1) 100%);
    background: linear-gradient(to bottom, rgba(5, 115, 16, 0.78) 0%, rgba(5, 115, 16, 1) 100%);
	border: 1px solid rgba(5, 115, 16, 1);
	color: #fff;
	margin: 10px auto;
}
.add-tocart button,.add-tocart button:hover, .add-tocart button:focus {
	position: absolute;
	right: 50px;
	display: block;
	background: rgba(5, 115, 16, 1);
    background: -webkit-linear-gradient(top, rgba(5, 115, 16, 0.78) 0%, rgba(5, 115, 16, 1) 100%);
    background: linear-gradient(to bottom, rgba(5, 115, 16, 0.78) 0%, rgba(5, 115, 16, 1) 100%);
	border: 1px solid rgba(5, 115, 16, 1);
	color: #fff;
}
#datePick {
	width: 140px;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 40px;
	box-shadow: inset 0 0 2px #ccc;
	padding-left: 10px;
}
.order-meals .btn-default.active {
	background-color: rgba(249, 172, 32, 1);
    background: -webkit-linear-gradient(top, rgba(186, 126, 16, 1) 0%, rgba(249, 172, 32, 1) 100%);
    background: linear-gradient(to bottom, rgba(186, 126, 16, 1) 0%, rgba(249, 172, 32, 1) 100%);
	color: #fff;
}
/******** order item dispaly *******/


/******* footer *******/
#goTop{
    background: #f00;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    padding: 5px;
    position: fixed;
    right: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 46px;
    border: 1px solid #f00;
}
#goTop:hover, #goTop:focus { 
	background: #F8AC1F;
	border-color: #F8AC1F;
}
.footer-area {
	background: #C2C2C2;
	padding: 40px;
}
.copy-rights {
	background: #5A3B02;
	padding: 10px;
}
/******* footer *******/

/******* login *******/
.yumbrec-login {
	background: url('../images/login_bg.jpg') 50% no-repeat;
	background-size: cover;
	padding: 25px 0 40px;
}
#yumbrec-form {    
	padding: 25px;
    background: rgba(0,0,0,.7);
    margin-top: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
/* #myTab { padding: 20px 0; } */
#myTab  li a{ font-size: 30px; }
#myTab li.active a,#myTab li a:hover,#myTab li a:focus { color: #fff; }
#myTab li.active:before{
	position: absolute;
    top: 24px;
    content: '\f0d8';
    font-family: 'FontAwesome';
    font-size: 45px;
    left: 0;
    right: 0;
    color: #fff;
}
#yumbrec-form label { 
	color: #fff;
	font-size: 12px;
    font-weight: normal;
}
.btn-primary {
	border: rgba(249, 172, 32, 1); 
	background-color: rgba(249, 172, 32, 1);
    background: -webkit-linear-gradient(top, rgba(249, 172, 32, 0.76) 0%, rgba(249, 172, 32, 1) 100%);
    background: linear-gradient(to bottom, rgba(249, 172, 32, 0.76) 0%, rgba(249, 172, 32, 1) 100%);
}
.btn-primary :hover, .btn-primary :focus, .btn-primary:active {
	background-color: rgba(249, 172, 32, 0.55);
    background: -webkit-linear-gradient(top, rgba(249, 172, 32, 1) 0%, rgba(249, 172, 32, 0.55) 100%);
    background: linear-gradient(to bottom, rgba(249, 172, 32, 1) 0%, rgba(249, 172, 32, 0.55) 100%);
}
#yumbrec-form .form-group { margin-bottom: 5px; }
/******* login *******/

.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-open, .modal{padding-right:0!important}
.modal-header .close {
	position: absolute;
    right: -18px;
    top: -18px;
    background: #F50D0D;
    width: 40px;
    border-radius: 25px;
    height: 40px;
    color: #fff;
   opacity: 1;
}
.modal-header {
    background: rgb(230, 230, 230);
}
.input-form {
	border: 1px solid #ccc;
	box-shadow: inset 0 0 2px #ccc;
	background: rgba(255,255,255,.8);
}
.input-form:hover, .input-form:focus {
	border: 1px solid #D08D15;
	box-shadow: inset 0 0 10px #D08D15;
	background: rgba(255,255,255,.9);	
}
.forgot-password:hover, .forgot-password:focus { color: #D08D15; }
/*** checkout ****/
.remove-item:hover, .remove-item:focus .remove-item:focus i, .remove-item:hover i{ color: #f00; }
.yumbric-checkout, .address-page {
	background: url('../images/checkout-bg.jpg');
	padding: 25px;
}
.border-btm { border-bottom: 1px solid #ccc; }
.checkout-lists #myform {
    text-align: center;
    padding: 5px;
    margin: 2%;
}
.checkout-lists .qty {
    width: 60px;
    height: 40px;
    text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: inset 0 0 2px #ccc;
}
.checkout-lists input.qtyplus { width:25px; height:25px;}
.checkout-lists input.qtyminus { width:25px; height:25px;}
.checkout-lists .table>tbody>tr>td { vertical-align: middle; } 
/*** checkout ****/

/*** address page ****/
.address-page .panel-body { 
	padding: 25px;
	position: relative;
	min-height: 60px;
}
#choose-adds { 
	position: absolute; 
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #D08D15;
	border-radius: 5px;
	color: #fff;
}
.address-page .panel-footer {
	background: transparent;
	border-top: 0;
}
.edit-address label {
	display: table;
	font-size: 12px;
	font-weight: normal;
}
.edit-address select, .edit-address input, .edit-address textarea {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	box-shadow: inset 0 0 2px #ccc;
	border-radius: 5px;
	padding-left: 10px;
}
.edit-address select:hover, .edit-address select:focus,
.edit-address input:hover,.edit-address input:focus,
.edit-address textarea:hover, .edit-address textarea:focus {
	border: 1px solid #D08D15;
	box-shadow: inset 0 0 10px #D08D15;
	background: rgba(255,255,255,.9);	
}
.edit-address textarea { height: auto; }
/*** address page ****/
/*** contact us ***/
.contactus, .myorder-selection {
	background: url('../images/checkout-bg.jpg') no-repeat;
	background-size: cover;
	padding: 40px 0;	
}
.contactus li {
	line-height: 30px;
	letter-spacing: .5px;
}
.contactus label {
	font-size: 12px;
	font-weight: normal;
}
.contactus ul li .fa {
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	line-height:30px;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 5px 15px 10px 0;
}
.contactus .form-group  { margin-bottom: 5px; }
/*** contact us ***/
#select-add  .fa {
	width: 35px;
	height: 35px;
	background: #ccc;
	line-height: 35px;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;	
}
.width200 { width: 200px; }
.width250 { width: 300px; }
.meal-selection th { 
    background: rgba(137, 0, 0, 0.75);
    color: #fff;
    text-align: center;
}
.item-all th {
    background: rgba(248, 172, 31, 0.94);
    color: #fff;
	font-weight: normal;
}
.myorder-selection .table>tbody>tr>td { vertical-align: middle; }
/**** thank you page**/
.thank{
	background: url('../images/bg_thank_you.jpg') 50% no-repeat;
	height: 494px;
}
.thank .thank-img{
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 190px;
}
.thank .thank-text{
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    bottom: 80px;
	font-size:35px;
}
.thank .thank-fnt{
	font-family: Brush Script MT,cursive;font-size:40px;color:#2c6128;
    left: 0;	
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 300px;
	font-size:35px;
}
 #checkOutCart{
    position: fixed;
    top: 32px;
    right: 0;
 }
  #checkOutCart img 
  {
widht; 50px;
height:50px;
	}
.login-name
{
	position:fixed;
	color:pink;
	right: 10px;
}
#navbar-main .navbar-nav { margin-right:50px; }
/**** thank you page**/
/**** radio button *****/

.enter-logintype label.btn span {
  font-size: 1.5em ;
}

.enter-logintype label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
.enter-logintype label input[type="radio"] ~ i.fa.fa-check-circle-o{
    display: none;
}
.enter-logintype label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
.enter-logintype label input[type="radio"]:checked ~ i.fa.fa-check-circle-o{
    color: #F8AC1F;    display: inline;
}
.enter-logintype label:hover input[type="radio"] ~ i.fa {
color: #F8AC1F;
}

.enter-logintype label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
.enter-logintype label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
.enter-logintype label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
.enter-logintype label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
.enter-logintype label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

.enter-logintype div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

.enter-logintype div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.enter-logintype div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

.enter-logintype div[data-toggle="buttons"] label:active, .enter-logintype div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}
/**** radio button *****/

.width175 { width: 175px; }
.qtyminus {  
	background: #E00B0B;
	border: 1px solid #E00B0B;
	color: #fff;	
    text-align: center;
}
.qtyplus {
	background: #018201;
	border: 1px solid #018201;
	color: #fff;	
    text-align: center;
}
